@model CleanArch.Application.ViewModels.RegisterViewModels
@{
    ViewData["Title"] = "SuccessRegister";
}

<h1>Success Register</h1>
<div class="alert alert-success">
    <h2>@Model.UserName !</h2>
    <p>Your Register Is Success .</p>
</div>
